/* 

.div{
  background-color: #92617e;
  background-color: #3c1832;
  background-color: #e7e8d1;
  background-color: #ced7d8;
  background-color: #315f72;
  background-color: #05716c;
  background-color: #e8d71e;
  background-color: #6883bc;
  background-color: #79a7d3;
  background-color: #8a307f;
  background-color: #5c3c92;
  background-color: #077b8a;
  background-color: #a2d5c6;
  background-color: #d72631;
  background-color: #EFF1EF;
  background-color: #735E93;
  background-color: #9e5165;
  background-color: #dcc1b0;
  background-color: #869dab;
  background-color: #847072;
  background-color: #3d313f;
}

*/

.btn-edit{
  background-color: #05716c;
  color: #e5e5dc;
}

.btn-new{
  background-color: #735E93;
  color: #e5e5dc;
}

.btn-delete{
  background-color: #7a2d59;
  /* background-color: #d72631; */
  color: #e5e5dc;
}

.btn-show{
  background-color: #1868ae;
  color: #e5e5dc;
}

.btn-add{

}

.btn-fav{

}

.btn-notice{

}

.btn-default{

}

.welcome-deco-right{
  height: 20%;
}

.card-img-overlay{
  padding: 0px 10px;
}

/* .card-img-overlay .transparent{
  opacity: 0.5; 
} */

.wdr-bg-row1{
  background-color: #735E93;
}
.wdr-bg-row2{
  background-color: #e5ba22;
}
.wdr-bg-row3{
  background-color: #499360;
}
.wdr-bg-row4{
  background-color: #2a6078;
}
.wdr-bg-row5{
  background-color: #7a2d59;
}

.wdr-bg-row2-transparent{
  background-color: #e5ba22;
  filter:opacity(0.6);
}

div.background {
  background-color: #7a2d59;
  border: 2px solid #7a2d59;
  filter:opacity(0.6)
}

/* div.transbox {
  background-color: #7a2d59;
}

div.transbox p {

  font-weight: bold;
  color: #fff;
} */

.welcome-left-text{
  font-size: 1.5rem;
}

.welcome_brand_text{
  padding-top: 1.5rem;
  font-size: 2.6rem;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

row .py-2-top{
  margin-top: 3px;
}

row .py-2-bottom{
  margin-bottom: 3px;
}


.table-oils{
  background-color: #d9cfe7;
}

.table-oils th{
  background-color: #8a307f;
  color: #e5e5dc;
  vertical-align: middle;
}

body{
  background-color: #EFF1EF;
}

.btn.btn-sage{
  background-color: #8C9B88;
  color: #F5E8DA
}

.btn.btn-cream{
  background-color: #F5E8DA;
  color: #8C9B88;
}

.btn.btn-purple{
  background-color: #735E93;
  color: #EFF1EF;
}

.btn.btn-ivory{
  background-color: #EFF1EF;
  color: #735E93;
}

.bg-jade{
  background-color: #077b8a;
}

.bg-nav{
  background-color: #5c3c92;
}

.bg-purple{
  background-color: #735E93;
}

.bg-card-singleoil{
  background-color: #3d313f;
}

.bg-card-applicationscope{
  background-color: #847072;
}

.bg-card-physical{
  background-color: #869dab;
}

.bg-card-mental{
  background-color: #dcc1b0;
}

.bg-card-application{
  background-color: #d5c5e9;
}

.bg-card-public-recipes{
  background-color: #eded84;
}

.navbar-brand, .nav-link{
  color: #EFF1EF;
}

.text-light{
  color: #EFF1EF;
}

#essentialOils td.align-center, #essentialOils th.align-center{
  text-align: center;
}

hr{
  border-top: 2px solid #5c3c92;
}

.form-control, .form-check-input{
  border: 1px solid #735E93;
}

select.widthHeight::-webkit-scrollbar {
  width: 18px;
  height: 14px;
}

select.style::-webkit-scrollbar-track {
  border: rgb(180, 180, 180);
  background-color: #b0a3c2;
}

select.style::-webkit-scrollbar-thumb {
  background-color: #735E93;
  border: 1px solid rgb(193, 193, 193);
}

.under-heading{
  font-style: italic;
  margin-bottom: 20px;
}

.list-header{
  background-color: #847072;
  color: #dcc1b0;
  font-size: 18px;
  font-weight: 450;
  padding: 3px 10px;
  margin: 10px 0;
}

.hide{
  display: none;
}

.minus, .plus, .count{
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  font-size: 16px;
}

.card-show-single-oil{
  background-color: #3D313F;
  color: #EFF1EF;
}

.card-text-single-oil{
  font-style: italic;
}

#cardSingleOil .list-group-item{
  background-color: #3D313F;
  color: #EFF1EF;
  border: none;
}

#cardSingleOil li, #cardApplicationScopes li, #cardPhysicalEffects li, #cardMentalEffects li{
  padding: 4px 16px;
}

#cardApplicationScopes li:hover{
  background-color: #847072;
  color: #EFF1EF;
  font-weight: 500;
}

#cardPhysicalEffects li:hover{
  background-color: #869dab;
  font-weight: 500;
}

#cardMentalEffects li:hover{
  background-color: #dcc1b0;
  font-weight: 500;
}

.bg-sage{
  background-color: #8C9B88;
  color: #EFF1EF;
}

.list-group-item-sage{
  border: none;
}

/* From uiverse.io by @mrhyddenn */
.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: #77bca9;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
  margin-bottom: 16px;
}

.add-btn:hover {
  width: 200px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: seagreen;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: seagreen;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/* End From uiverse.io by @mrhyddenn */

/* From uiverse.io by @mrhyddenn button mit tooltip*/
.uiverse {
  position: relative;
  background: #ffffff;
  color: #000;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 30px;
  height: 20px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.uiverse:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

svg:hover span,
svg:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.uiverse:hover,
.uiverse:hover .tooltip,
.uiverse:hover .tooltip::before {
  background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));
  color: #ffffff;
}

/* End From uiverse.io by @mrhyddenn */

/* From uiverse.io by @mobinkakei inputfield */
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.inp .label {
  position: absolute;
  top: 10px;
  left: 12px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}

.inp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}

.inp input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 16px 12px 0 12px;
  height: 56px;
  font-size: 14px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #000;
  transition: all 0.9s ease;
}

.inp input:hover {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.inp input:not(:-moz-placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:not(:-ms-input-placeholder) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 #0077FF;
}

.inp input:focus + .label {
  color: #0077FF;
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.9s ease;
}
/* Ende From uiverse.io by @mobinkakei inputfield */